<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>sendmux</id>
    <version>{{VERSION}}</version>
    <packageSourceUrl>{{PACKAGE_SOURCE_URL}}</packageSourceUrl>
    <owners>Sendmux</owners>
    <title>Sendmux CLI</title>
    <authors>Sendmux</authors>
    <projectUrl>https://sendmux.ai</projectUrl>
    <iconUrl>https://sendmux.ai/favicon/favicon.svg</iconUrl>
    <licenseUrl>https://github.com/Sendmux/sendmux-sdk/blob/main/LICENSE</licenseUrl>
    <projectSourceUrl>https://github.com/Sendmux/sendmux-sdk</projectSourceUrl>
    <docsUrl>https://docs.sendmux.ai</docsUrl>
    <bugTrackerUrl>https://github.com/Sendmux/sendmux-sdk/issues</bugTrackerUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <tags>sendmux email cli api mailbox mcp</tags>
    <summary>Installs the Sendmux command-line interface.</summary>
    <description><![CDATA[
Installs the Sendmux CLI package for Windows.

After installation, run:

```
sendmux --help
```

Documentation: https://docs.sendmux.ai
Source: https://github.com/Sendmux/sendmux-sdk
]]></description>
    <releaseNotes>https://github.com/Sendmux/sendmux-sdk/releases/tag/{{RELEASE_TAG}}</releaseNotes>
    <dependencies>
      <dependency id="sendmux.portable" version="[{{VERSION}}]" />
    </dependencies>
  </metadata>
</package>
