=begin
#Sendmux Sending API

#Send emails programmatically via the Sendmux email infrastructure. Every response carries an `X-Request-Id` header; errors include a `retryable` flag. 429 and 503 responses include `Retry-After`. Mutating endpoints accept an `Idempotency-Key` header for safe retries.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Sending::Generated
  class AttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload bytes to an attachment upload URL
    # Upload the exact binary bytes for a previously-created attachment upload URL. This operation uses the short-lived upload token header returned by POST /emails/attachment-uploads, not a Sendmux API key.
    # @param x_sendmux_upload_token [String] Short-lived upload token returned by POST /emails/attachment-uploads.
    # @param content_length [Integer] Exact number of bytes in the binary request body.
    # @param upload_id [String] Upload intent ID returned by POST /emails/attachment-uploads.
    # @param body [File]
    # @param [Hash] opts the optional parameters
    # @return [AttachmentUploadResponse]
    def sending_complete_attachment_upload(x_sendmux_upload_token, content_length, upload_id, body, opts = {})
      data, _status_code, _headers = sending_complete_attachment_upload_with_http_info(x_sendmux_upload_token, content_length, upload_id, body, opts)
      data
    end

    # Upload bytes to an attachment upload URL
    # Upload the exact binary bytes for a previously-created attachment upload URL. This operation uses the short-lived upload token header returned by POST /emails/attachment-uploads, not a Sendmux API key.
    # @param x_sendmux_upload_token [String] Short-lived upload token returned by POST /emails/attachment-uploads.
    # @param content_length [Integer] Exact number of bytes in the binary request body.
    # @param upload_id [String] Upload intent ID returned by POST /emails/attachment-uploads.
    # @param body [File]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachmentUploadResponse, Integer, Hash)>] AttachmentUploadResponse data, response status code and response headers
    def sending_complete_attachment_upload_with_http_info(x_sendmux_upload_token, content_length, upload_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentsApi.sending_complete_attachment_upload ...'
      end
      # verify the required parameter 'x_sendmux_upload_token' is set
      if @api_client.config.client_side_validation && x_sendmux_upload_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_sendmux_upload_token' when calling AttachmentsApi.sending_complete_attachment_upload"
      end
      # verify the required parameter 'content_length' is set
      if @api_client.config.client_side_validation && content_length.nil?
        fail ArgumentError, "Missing the required parameter 'content_length' when calling AttachmentsApi.sending_complete_attachment_upload"
      end
      if @api_client.config.client_side_validation && content_length < 1
        fail ArgumentError, 'invalid value for "content_length" when calling AttachmentsApi.sending_complete_attachment_upload, must be greater than or equal to 1.'
      end

      # verify the required parameter 'upload_id' is set
      if @api_client.config.client_side_validation && upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'upload_id' when calling AttachmentsApi.sending_complete_attachment_upload"
      end
      pattern = Regexp.new(/^upl_[a-z0-9]{24}$/)
      if @api_client.config.client_side_validation && upload_id !~ pattern
        fail ArgumentError, "invalid value for 'upload_id' when calling AttachmentsApi.sending_complete_attachment_upload, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AttachmentsApi.sending_complete_attachment_upload"
      end
      # resource path
      local_var_path = '/emails/attachment-uploads/{upload_id}'.sub('{upload_id}', CGI.escape(upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Sendmux-Upload-Token'] = x_sendmux_upload_token
      header_params[:'Content-Length'] = content_length

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AttachmentUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AttachmentsApi.sending_complete_attachment_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentsApi#sending_complete_attachment_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an attachment upload URL
    # Create a short-lived upload URL and token that lets a remote client PUT one binary attachment without exposing the API key on the upload request. Requires `email.send` permission.
    # @param attachment_upload_intent_request [AttachmentUploadIntentRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated key to make the request idempotent for 24 hours. Replays under the same key return the cached response; a reused key with a different body returns 409 idempotency_conflict.
    # @return [AttachmentUploadIntentResponse]
    def sending_create_attachment_upload(attachment_upload_intent_request, opts = {})
      data, _status_code, _headers = sending_create_attachment_upload_with_http_info(attachment_upload_intent_request, opts)
      data
    end

    # Create an attachment upload URL
    # Create a short-lived upload URL and token that lets a remote client PUT one binary attachment without exposing the API key on the upload request. Requires &#x60;email.send&#x60; permission.
    # @param attachment_upload_intent_request [AttachmentUploadIntentRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated key to make the request idempotent for 24 hours. Replays under the same key return the cached response; a reused key with a different body returns 409 idempotency_conflict.
    # @return [Array<(AttachmentUploadIntentResponse, Integer, Hash)>] AttachmentUploadIntentResponse data, response status code and response headers
    def sending_create_attachment_upload_with_http_info(attachment_upload_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentsApi.sending_create_attachment_upload ...'
      end
      # verify the required parameter 'attachment_upload_intent_request' is set
      if @api_client.config.client_side_validation && attachment_upload_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_upload_intent_request' when calling AttachmentsApi.sending_create_attachment_upload"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling AttachmentsApi.sending_create_attachment_upload, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/emails/attachment-uploads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(attachment_upload_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AttachmentUploadIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AttachmentsApi.sending_create_attachment_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentsApi#sending_create_attachment_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attachment metadata
    # Return metadata for a temporary uploaded attachment owned by the authenticated team. File bytes are not returned.
    # @param attachment_id [String] Temporary attachment ID returned by an upload endpoint.
    # @param [Hash] opts the optional parameters
    # @return [AttachmentUploadResponse]
    def sending_get_attachment(attachment_id, opts = {})
      data, _status_code, _headers = sending_get_attachment_with_http_info(attachment_id, opts)
      data
    end

    # Get attachment metadata
    # Return metadata for a temporary uploaded attachment owned by the authenticated team. File bytes are not returned.
    # @param attachment_id [String] Temporary attachment ID returned by an upload endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachmentUploadResponse, Integer, Hash)>] AttachmentUploadResponse data, response status code and response headers
    def sending_get_attachment_with_http_info(attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentsApi.sending_get_attachment ...'
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling AttachmentsApi.sending_get_attachment"
      end
      pattern = Regexp.new(/^att_[a-z0-9]{24}$/)
      if @api_client.config.client_side_validation && attachment_id !~ pattern
        fail ArgumentError, "invalid value for 'attachment_id' when calling AttachmentsApi.sending_get_attachment, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/emails/attachments/{attachment_id}'.sub('{attachment_id}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttachmentUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AttachmentsApi.sending_get_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentsApi#sending_get_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an attachment
    # Upload binary attachment bytes and receive a temporary attachment_id for use in attachments[]. Requires `email.send` permission.
    # @param content_length [Integer] Exact number of bytes in the binary request body.
    # @param filename [String] Filename to associate with the uploaded attachment.
    # @param body [File]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated key to make the request idempotent for 24 hours. Replays under the same key return the cached response; a reused key with a different body returns 409 idempotency_conflict.
    # @option opts [String] :content_type MIME type override for the uploaded attachment.
    # @return [AttachmentUploadResponse]
    def sending_upload_attachment(content_length, filename, body, opts = {})
      data, _status_code, _headers = sending_upload_attachment_with_http_info(content_length, filename, body, opts)
      data
    end

    # Upload an attachment
    # Upload binary attachment bytes and receive a temporary attachment_id for use in attachments[]. Requires &#x60;email.send&#x60; permission.
    # @param content_length [Integer] Exact number of bytes in the binary request body.
    # @param filename [String] Filename to associate with the uploaded attachment.
    # @param body [File]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated key to make the request idempotent for 24 hours. Replays under the same key return the cached response; a reused key with a different body returns 409 idempotency_conflict.
    # @option opts [String] :content_type MIME type override for the uploaded attachment.
    # @return [Array<(AttachmentUploadResponse, Integer, Hash)>] AttachmentUploadResponse data, response status code and response headers
    def sending_upload_attachment_with_http_info(content_length, filename, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttachmentsApi.sending_upload_attachment ...'
      end
      # verify the required parameter 'content_length' is set
      if @api_client.config.client_side_validation && content_length.nil?
        fail ArgumentError, "Missing the required parameter 'content_length' when calling AttachmentsApi.sending_upload_attachment"
      end
      if @api_client.config.client_side_validation && content_length < 1
        fail ArgumentError, 'invalid value for "content_length" when calling AttachmentsApi.sending_upload_attachment, must be greater than or equal to 1.'
      end

      # verify the required parameter 'filename' is set
      if @api_client.config.client_side_validation && filename.nil?
        fail ArgumentError, "Missing the required parameter 'filename' when calling AttachmentsApi.sending_upload_attachment"
      end
      if @api_client.config.client_side_validation && filename.to_s.length > 255
        fail ArgumentError, 'invalid value for "filename" when calling AttachmentsApi.sending_upload_attachment, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && filename.to_s.length < 1
        fail ArgumentError, 'invalid value for "filename" when calling AttachmentsApi.sending_upload_attachment, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AttachmentsApi.sending_upload_attachment"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling AttachmentsApi.sending_upload_attachment, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'content_type'].nil? && opts[:'content_type'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"content_type"]" when calling AttachmentsApi.sending_upload_attachment, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/emails/attachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filename'] = filename
      query_params[:'content_type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Length'] = content_length
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AttachmentUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AttachmentsApi.sending_upload_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttachmentsApi#sending_upload_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
