{{#allParams}}
{{#vendorExtensions.x-sendmux-after-content-type}}
     * @param  {{{dataType}}}|null ${{paramName}}{{#description}} {{.}}{{/description}}{{^description}} {{paramName}}{{/description}} (optional)
{{/vendorExtensions.x-sendmux-after-content-type}}
{{/allParams}}
