{{#allParams}}{{^vendorExtensions.x-sendmux-trailing-sdk-param}}${{paramName}}, {{/vendorExtensions.x-sendmux-trailing-sdk-param}}{{/allParams}}{{#allParams}}{{#vendorExtensions.x-sendmux-trailing-sdk-param}}${{paramName}}, {{/vendorExtensions.x-sendmux-trailing-sdk-param}}{{/allParams}}
