=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Mailbox::Generated
  class MailboxAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch delete mailbox messages
    # Moves up to 100 messages to Trash by default with state-safe conflict handling. Set `permanent=true` to permanently delete them.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [BatchDeleteMailboxMessagesBody] :batch_delete_mailbox_messages_body
    # @return [MailboxBatchDeleteMessagesResultResponse]
    def mailbox_batch_delete_messages(opts = {})
      data, _status_code, _headers = mailbox_batch_delete_messages_with_http_info(opts)
      data
    end

    # Batch delete mailbox messages
    # Moves up to 100 messages to Trash by default with state-safe conflict handling. Set &#x60;permanent&#x3D;true&#x60; to permanently delete them.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [BatchDeleteMailboxMessagesBody] :batch_delete_mailbox_messages_body
    # @return [Array<(MailboxBatchDeleteMessagesResultResponse, Integer, Hash)>] MailboxBatchDeleteMessagesResultResponse data, response status code and response headers
    def mailbox_batch_delete_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_batch_delete_messages ...'
      end
      # resource path
      local_var_path = '/mailbox/messages:batch-delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'batch_delete_mailbox_messages_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxBatchDeleteMessagesResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_batch_delete_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_batch_delete_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch get mailbox messages
    # Returns exact messages by ID. Use `body_mode` to choose summary-only output, raw body output, or clean JSON content. Attachment output remains metadata only; attachment contents are not parsed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [MailboxBatchGetBody] :mailbox_batch_get_body
    # @return [MailboxBatchGetResultResponse]
    def mailbox_batch_get_messages(opts = {})
      data, _status_code, _headers = mailbox_batch_get_messages_with_http_info(opts)
      data
    end

    # Batch get mailbox messages
    # Returns exact messages by ID. Use &#x60;body_mode&#x60; to choose summary-only output, raw body output, or clean JSON content. Attachment output remains metadata only; attachment contents are not parsed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [MailboxBatchGetBody] :mailbox_batch_get_body
    # @return [Array<(MailboxBatchGetResultResponse, Integer, Hash)>] MailboxBatchGetResultResponse data, response status code and response headers
    def mailbox_batch_get_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_batch_get_messages ...'
      end
      # resource path
      local_var_path = '/mailbox/messages:batch-get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'mailbox_batch_get_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxBatchGetResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_batch_get_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_batch_get_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch update mailbox messages
    # Updates allowed message flags and keywords for up to 100 messages with state-safe conflict handling.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [BatchUpdateMailboxMessagesBody] :batch_update_mailbox_messages_body
    # @return [MailboxBatchUpdateMessagesResultResponse]
    def mailbox_batch_update_messages(opts = {})
      data, _status_code, _headers = mailbox_batch_update_messages_with_http_info(opts)
      data
    end

    # Batch update mailbox messages
    # Updates allowed message flags and keywords for up to 100 messages with state-safe conflict handling.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [BatchUpdateMailboxMessagesBody] :batch_update_mailbox_messages_body
    # @return [Array<(MailboxBatchUpdateMessagesResultResponse, Integer, Hash)>] MailboxBatchUpdateMessagesResultResponse data, response status code and response headers
    def mailbox_batch_update_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_batch_update_messages ...'
      end
      # resource path
      local_var_path = '/mailbox/messages:batch-update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'batch_update_mailbox_messages_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxBatchUpdateMessagesResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_batch_update_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_batch_update_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count mailbox messages
    # Returns a count for the supplied mailbox message filters without returning message rows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder_id
    # @option opts [String] :thread_id
    # @option opts [String] :q
    # @option opts [String] :from
    # @option opts [String] :to
    # @option opts [String] :cc
    # @option opts [String] :bcc
    # @option opts [String] :subject
    # @option opts [String] :body
    # @option opts [String] :header_name
    # @option opts [String] :header_value
    # @option opts [Integer] :min_size_bytes
    # @option opts [Integer] :max_size_bytes
    # @option opts [String] :keyword
    # @option opts [String] :not_keyword
    # @option opts [String] :after
    # @option opts [String] :before
    # @option opts [Boolean] :has_attachment
    # @option opts [Boolean] :is_unread
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMessageCountResponse]
    def mailbox_count_messages(opts = {})
      data, _status_code, _headers = mailbox_count_messages_with_http_info(opts)
      data
    end

    # Count mailbox messages
    # Returns a count for the supplied mailbox message filters without returning message rows.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder_id
    # @option opts [String] :thread_id
    # @option opts [String] :q
    # @option opts [String] :from
    # @option opts [String] :to
    # @option opts [String] :cc
    # @option opts [String] :bcc
    # @option opts [String] :subject
    # @option opts [String] :body
    # @option opts [String] :header_name
    # @option opts [String] :header_value
    # @option opts [Integer] :min_size_bytes
    # @option opts [Integer] :max_size_bytes
    # @option opts [String] :keyword
    # @option opts [String] :not_keyword
    # @option opts [String] :after
    # @option opts [String] :before
    # @option opts [Boolean] :has_attachment
    # @option opts [Boolean] :is_unread
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxMessageCountResponse, Integer, Hash)>] MailboxMessageCountResponse data, response status code and response headers
    def mailbox_count_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_count_messages ...'
      end
      if @api_client.config.client_side_validation && !opts[:'min_size_bytes'].nil? && opts[:'min_size_bytes'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_size_bytes"]" when calling MailboxAPIApi.mailbox_count_messages, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_size_bytes'].nil? && opts[:'max_size_bytes'] < 0
        fail ArgumentError, 'invalid value for "opts[:"max_size_bytes"]" when calling MailboxAPIApi.mailbox_count_messages, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/mailbox/messages/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'folder_id'] = opts[:'folder_id'] if !opts[:'folder_id'].nil?
      query_params[:'thread_id'] = opts[:'thread_id'] if !opts[:'thread_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'cc'] = opts[:'cc'] if !opts[:'cc'].nil?
      query_params[:'bcc'] = opts[:'bcc'] if !opts[:'bcc'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'body'] = opts[:'body'] if !opts[:'body'].nil?
      query_params[:'header_name'] = opts[:'header_name'] if !opts[:'header_name'].nil?
      query_params[:'header_value'] = opts[:'header_value'] if !opts[:'header_value'].nil?
      query_params[:'min_size_bytes'] = opts[:'min_size_bytes'] if !opts[:'min_size_bytes'].nil?
      query_params[:'max_size_bytes'] = opts[:'max_size_bytes'] if !opts[:'max_size_bytes'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'not_keyword'] = opts[:'not_keyword'] if !opts[:'not_keyword'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'has_attachment'] = opts[:'has_attachment'] if !opts[:'has_attachment'].nil?
      query_params[:'is_unread'] = opts[:'is_unread'] if !opts[:'is_unread'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxMessageCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_count_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_count_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox folder
    # Creates a folder in the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [CreateMailboxFolderBody] :create_mailbox_folder_body
    # @return [MailboxFolderResponse]
    def mailbox_create_folder(opts = {})
      data, _status_code, _headers = mailbox_create_folder_with_http_info(opts)
      data
    end

    # Create a mailbox folder
    # Creates a folder in the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @option opts [CreateMailboxFolderBody] :create_mailbox_folder_body
    # @return [Array<(MailboxFolderResponse, Integer, Hash)>] MailboxFolderResponse data, response status code and response headers
    def mailbox_create_folder_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_create_folder ...'
      end
      # resource path
      local_var_path = '/mailbox/folders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_mailbox_folder_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxFolderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_create_folder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_create_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a mailbox folder
    # Deletes an empty custom folder unconditionally unless `If-Match` is supplied. Built-in folders and non-empty folders cannot be deleted. Send `If-Match` with a prior ETag to reject stale deletes.
    # @param folder_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxFolderDeletedResponse]
    def mailbox_delete_folder(folder_id, opts = {})
      data, _status_code, _headers = mailbox_delete_folder_with_http_info(folder_id, opts)
      data
    end

    # Delete a mailbox folder
    # Deletes an empty custom folder unconditionally unless &#x60;If-Match&#x60; is supplied. Built-in folders and non-empty folders cannot be deleted. Send &#x60;If-Match&#x60; with a prior ETag to reject stale deletes.
    # @param folder_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxFolderDeletedResponse, Integer, Hash)>] MailboxFolderDeletedResponse data, response status code and response headers
    def mailbox_delete_folder_with_http_info(folder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_delete_folder ...'
      end
      # verify the required parameter 'folder_id' is set
      if @api_client.config.client_side_validation && folder_id.nil?
        fail ArgumentError, "Missing the required parameter 'folder_id' when calling MailboxAPIApi.mailbox_delete_folder"
      end
      # resource path
      local_var_path = '/mailbox/folders/{folder_id}'.sub('{folder_id}', CGI.escape(folder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxFolderDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_delete_folder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_delete_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a mailbox message
    # Moves a message to Trash by default, unconditionally unless `If-Match` is supplied. Set `permanent=true` to permanently delete it. Send `If-Match` with a prior ETag to reject stale deletes.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :permanent
    # @option opts [String] :if_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMessageDeletedResponse]
    def mailbox_delete_message(message_id, opts = {})
      data, _status_code, _headers = mailbox_delete_message_with_http_info(message_id, opts)
      data
    end

    # Delete a mailbox message
    # Moves a message to Trash by default, unconditionally unless &#x60;If-Match&#x60; is supplied. Set &#x60;permanent&#x3D;true&#x60; to permanently delete it. Send &#x60;If-Match&#x60; with a prior ETag to reject stale deletes.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :permanent
    # @option opts [String] :if_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxMessageDeletedResponse, Integer, Hash)>] MailboxMessageDeletedResponse data, response status code and response headers
    def mailbox_delete_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_delete_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailboxAPIApi.mailbox_delete_message"
      end
      # resource path
      local_var_path = '/mailbox/messages/{message_id}'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permanent'] = opts[:'permanent'] if !opts[:'permanent'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxMessageDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_delete_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_delete_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get mailbox changes
    # Returns message changes in the legacy shape when `types` is omitted. Pass a comma-separated `types` list for a typed state map.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [String] :types
    # @option opts [String] :messages_since_state
    # @option opts [String] :folders_since_state
    # @option opts [String] :threads_since_state
    # @option opts [String] :submissions_since_state
    # @option opts [String] :identities_since_state
    # @option opts [String] :quotas_since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxGetChanges200Response]
    def mailbox_get_changes(opts = {})
      data, _status_code, _headers = mailbox_get_changes_with_http_info(opts)
      data
    end

    # Get mailbox changes
    # Returns message changes in the legacy shape when &#x60;types&#x60; is omitted. Pass a comma-separated &#x60;types&#x60; list for a typed state map.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [String] :types
    # @option opts [String] :messages_since_state
    # @option opts [String] :folders_since_state
    # @option opts [String] :threads_since_state
    # @option opts [String] :submissions_since_state
    # @option opts [String] :identities_since_state
    # @option opts [String] :quotas_since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxGetChanges200Response, Integer, Hash)>] MailboxGetChanges200Response data, response status code and response headers
    def mailbox_get_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_changes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_changes, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_changes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since_state'] = opts[:'since_state'] if !opts[:'since_state'].nil?
      query_params[:'types'] = opts[:'types'] if !opts[:'types'].nil?
      query_params[:'messages_since_state'] = opts[:'messages_since_state'] if !opts[:'messages_since_state'].nil?
      query_params[:'folders_since_state'] = opts[:'folders_since_state'] if !opts[:'folders_since_state'].nil?
      query_params[:'threads_since_state'] = opts[:'threads_since_state'] if !opts[:'threads_since_state'].nil?
      query_params[:'submissions_since_state'] = opts[:'submissions_since_state'] if !opts[:'submissions_since_state'].nil?
      query_params[:'identities_since_state'] = opts[:'identities_since_state'] if !opts[:'identities_since_state'].nil?
      query_params[:'quotas_since_state'] = opts[:'quotas_since_state'] if !opts[:'quotas_since_state'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxGetChanges200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox folder
    # Returns one folder from the authenticated mailbox. Responses include a weak `ETag` header.
    # @param folder_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxFolderResponse]
    def mailbox_get_folder(folder_id, opts = {})
      data, _status_code, _headers = mailbox_get_folder_with_http_info(folder_id, opts)
      data
    end

    # Get a mailbox folder
    # Returns one folder from the authenticated mailbox. Responses include a weak &#x60;ETag&#x60; header.
    # @param folder_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxFolderResponse, Integer, Hash)>] MailboxFolderResponse data, response status code and response headers
    def mailbox_get_folder_with_http_info(folder_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_folder ...'
      end
      # verify the required parameter 'folder_id' is set
      if @api_client.config.client_side_validation && folder_id.nil?
        fail ArgumentError, "Missing the required parameter 'folder_id' when calling MailboxAPIApi.mailbox_get_folder"
      end
      # resource path
      local_var_path = '/mailbox/folders/{folder_id}'.sub('{folder_id}', CGI.escape(folder_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxFolderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_folder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get folder changes
    # Returns folder changes since a prior folder state, or the current folder state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxChangesResponse]
    def mailbox_get_folder_changes(opts = {})
      data, _status_code, _headers = mailbox_get_folder_changes_with_http_info(opts)
      data
    end

    # Get folder changes
    # Returns folder changes since a prior folder state, or the current folder state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxChangesResponse, Integer, Hash)>] MailboxChangesResponse data, response status code and response headers
    def mailbox_get_folder_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_folder_changes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_folder_changes, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_folder_changes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/folders/changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since_state'] = opts[:'since_state'] if !opts[:'since_state'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxChangesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_folder_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_folder_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get mailbox sender identity
    # Returns the default sender identity and signatures for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxIdentityResponse]
    def mailbox_get_identity(opts = {})
      data, _status_code, _headers = mailbox_get_identity_with_http_info(opts)
      data
    end

    # Get mailbox sender identity
    # Returns the default sender identity and signatures for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxIdentityResponse, Integer, Hash)>] MailboxIdentityResponse data, response status code and response headers
    def mailbox_get_identity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_identity ...'
      end
      # resource path
      local_var_path = '/mailbox/identity'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxIdentityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Self-introspect the calling mailbox
    # Returns the mailbox the bearer token is scoped to, including live storage usage. Intended for SDK auto-discovery — call once on startup to resolve the mailbox ID. Requires a mailbox-scoped API key; root keys receive 403.  Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the mailbox state has not changed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMeItemResponse]
    def mailbox_get_me(opts = {})
      data, _status_code, _headers = mailbox_get_me_with_http_info(opts)
      data
    end

    # Self-introspect the calling mailbox
    # Returns the mailbox the bearer token is scoped to, including live storage usage. Intended for SDK auto-discovery — call once on startup to resolve the mailbox ID. Requires a mailbox-scoped API key; root keys receive 403.  Responses carry a weak &#x60;ETag&#x60; header — send it back as &#x60;If-None-Match&#x60; on the next request and the server will return &#x60;304 Not Modified&#x60; (no body) when the mailbox state has not changed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxMeItemResponse, Integer, Hash)>] MailboxMeItemResponse data, response status code and response headers
    def mailbox_get_me_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_me ...'
      end
      # resource path
      local_var_path = '/mailbox/me'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxMeItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_me",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_me\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox message
    # Returns one message from the authenticated mailbox. Responses include a weak `ETag` header.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMessageDetailResponse]
    def mailbox_get_message(message_id, opts = {})
      data, _status_code, _headers = mailbox_get_message_with_http_info(message_id, opts)
      data
    end

    # Get a mailbox message
    # Returns one message from the authenticated mailbox. Responses include a weak &#x60;ETag&#x60; header.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxMessageDetailResponse, Integer, Hash)>] MailboxMessageDetailResponse data, response status code and response headers
    def mailbox_get_message_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_message ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailboxAPIApi.mailbox_get_message"
      end
      # resource path
      local_var_path = '/mailbox/messages/{message_id}'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxMessageDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a message attachment
    # Streams one attachment from a message in the authenticated mailbox. Supports standard byte ranges.
    # @param message_id [String]
    # @param attachment_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [nil]
    def mailbox_get_message_attachment(message_id, attachment_id, opts = {})
      mailbox_get_message_attachment_with_http_info(message_id, attachment_id, opts)
      nil
    end

    # Download a message attachment
    # Streams one attachment from a message in the authenticated mailbox. Supports standard byte ranges.
    # @param message_id [String]
    # @param attachment_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mailbox_get_message_attachment_with_http_info(message_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_message_attachment ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailboxAPIApi.mailbox_get_message_attachment"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling MailboxAPIApi.mailbox_get_message_attachment"
      end
      # resource path
      local_var_path = '/mailbox/messages/{message_id}/attachments/{attachment_id}'.sub('{message_id}', CGI.escape(message_id.to_s)).sub('{attachment_id}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Range'] = opts[:'range'] if !opts[:'range'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_message_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_message_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get quota changes
    # Returns quota changes since a prior quota state, or the current quota state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxChangesResponse]
    def mailbox_get_quota_changes(opts = {})
      data, _status_code, _headers = mailbox_get_quota_changes_with_http_info(opts)
      data
    end

    # Get quota changes
    # Returns quota changes since a prior quota state, or the current quota state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxChangesResponse, Integer, Hash)>] MailboxChangesResponse data, response status code and response headers
    def mailbox_get_quota_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_quota_changes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_quota_changes, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_quota_changes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/quotas/changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since_state'] = opts[:'since_state'] if !opts[:'since_state'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxChangesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_quota_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_quota_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get mailbox API session
    # Returns mailbox API capabilities, resource state tokens, limits, and disabled feature flags for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxSessionResponse]
    def mailbox_get_session(opts = {})
      data, _status_code, _headers = mailbox_get_session_with_http_info(opts)
      data
    end

    # Get mailbox API session
    # Returns mailbox API capabilities, resource state tokens, limits, and disabled feature flags for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxSessionResponse, Integer, Hash)>] MailboxSessionResponse data, response status code and response headers
    def mailbox_get_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_session ...'
      end
      # resource path
      local_var_path = '/mailbox/session'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox submission
    # Returns one send submission for the authenticated mailbox. Responses include a weak `ETag` header.
    # @param submission_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxSubmissionResponse]
    def mailbox_get_submission(submission_id, opts = {})
      data, _status_code, _headers = mailbox_get_submission_with_http_info(submission_id, opts)
      data
    end

    # Get a mailbox submission
    # Returns one send submission for the authenticated mailbox. Responses include a weak &#x60;ETag&#x60; header.
    # @param submission_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxSubmissionResponse, Integer, Hash)>] MailboxSubmissionResponse data, response status code and response headers
    def mailbox_get_submission_with_http_info(submission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_submission ...'
      end
      # verify the required parameter 'submission_id' is set
      if @api_client.config.client_side_validation && submission_id.nil?
        fail ArgumentError, "Missing the required parameter 'submission_id' when calling MailboxAPIApi.mailbox_get_submission"
      end
      # resource path
      local_var_path = '/mailbox/submissions/{submission_id}'.sub('{submission_id}', CGI.escape(submission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxSubmissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_submission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_submission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get submission changes
    # Returns send submission changes since a prior submission state, or the current state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxChangesResponse]
    def mailbox_get_submission_changes(opts = {})
      data, _status_code, _headers = mailbox_get_submission_changes_with_http_info(opts)
      data
    end

    # Get submission changes
    # Returns send submission changes since a prior submission state, or the current state when omitted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :since_state
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxChangesResponse, Integer, Hash)>] MailboxChangesResponse data, response status code and response headers
    def mailbox_get_submission_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_submission_changes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_submission_changes, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_submission_changes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/submissions/changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since_state'] = opts[:'since_state'] if !opts[:'since_state'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxChangesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_submission_changes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_submission_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox thread
    # Returns thread metadata, message IDs, participants, last message, unread count, and state for one conversation. Responses include a weak `ETag` header.
    # @param thread_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxThreadDetailResponse]
    def mailbox_get_thread(thread_id, opts = {})
      data, _status_code, _headers = mailbox_get_thread_with_http_info(thread_id, opts)
      data
    end

    # Get a mailbox thread
    # Returns thread metadata, message IDs, participants, last message, unread count, and state for one conversation. Responses include a weak &#x60;ETag&#x60; header.
    # @param thread_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxThreadDetailResponse, Integer, Hash)>] MailboxThreadDetailResponse data, response status code and response headers
    def mailbox_get_thread_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_thread ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling MailboxAPIApi.mailbox_get_thread"
      end
      # resource path
      local_var_path = '/mailbox/threads/{thread_id}'.sub('{thread_id}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxThreadDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get clean thread content
    # Returns a cursor-paginated clean JSON view of messages in a thread. Attachment output is metadata only; attachment contents are not parsed by this endpoint.
    # @param thread_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [Boolean] :strip_signature
    # @option opts [Boolean] :strip_quotes
    # @option opts [Boolean] :include_links
    # @option opts [Boolean] :include_html
    # @option opts [String] :include_headers
    # @option opts [String] :include_attachments
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :sort
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxThreadContentResponse]
    def mailbox_get_thread_content(thread_id, opts = {})
      data, _status_code, _headers = mailbox_get_thread_content_with_http_info(thread_id, opts)
      data
    end

    # Get clean thread content
    # Returns a cursor-paginated clean JSON view of messages in a thread. Attachment output is metadata only; attachment contents are not parsed by this endpoint.
    # @param thread_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [Boolean] :strip_signature
    # @option opts [Boolean] :strip_quotes
    # @option opts [Boolean] :include_links
    # @option opts [Boolean] :include_html
    # @option opts [String] :include_headers
    # @option opts [String] :include_attachments
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :sort
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxThreadContentResponse, Integer, Hash)>] MailboxThreadContentResponse data, response status code and response headers
    def mailbox_get_thread_content_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_get_thread_content ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling MailboxAPIApi.mailbox_get_thread_content"
      end
      allowable_values = ["auto", "text", "html", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'part'] && !allowable_values.include?(opts[:'part'])
        fail ArgumentError, "invalid value for \"part\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] > 1000000
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_get_thread_content, must be smaller than or equal to 1000000.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_get_thread_content, must be greater than or equal to 1.'
      end

      allowable_values = ["none", "selected", "full", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'include_headers'] && !allowable_values.include?(opts[:'include_headers'])
        fail ArgumentError, "invalid value for \"include_headers\", must be one of #{allowable_values}"
      end
      allowable_values = ["none", "metadata", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'include_attachments'] && !allowable_values.include?(opts[:'include_attachments'])
        fail ArgumentError, "invalid value for \"include_attachments\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_thread_content, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_get_thread_content, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/mailbox/threads/{thread_id}/content'.sub('{thread_id}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'part'] = opts[:'part'] if !opts[:'part'].nil?
      query_params[:'max_body_chars'] = opts[:'max_body_chars'] if !opts[:'max_body_chars'].nil?
      query_params[:'strip_signature'] = opts[:'strip_signature'] if !opts[:'strip_signature'].nil?
      query_params[:'strip_quotes'] = opts[:'strip_quotes'] if !opts[:'strip_quotes'].nil?
      query_params[:'include_links'] = opts[:'include_links'] if !opts[:'include_links'].nil?
      query_params[:'include_html'] = opts[:'include_html'] if !opts[:'include_html'].nil?
      query_params[:'include_headers'] = opts[:'include_headers'] if !opts[:'include_headers'].nil?
      query_params[:'include_attachments'] = opts[:'include_attachments'] if !opts[:'include_attachments'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxThreadContentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_get_thread_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_get_thread_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get raw message body
    # Returns raw message body content for the authenticated mailbox. This endpoint does not strip signatures, strip quoted replies, extract links, or clean the body into a structured content shape.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxRawBodyResponse]
    def mailbox_list_body(message_id, opts = {})
      data, _status_code, _headers = mailbox_list_body_with_http_info(message_id, opts)
      data
    end

    # Get raw message body
    # Returns raw message body content for the authenticated mailbox. This endpoint does not strip signatures, strip quoted replies, extract links, or clean the body into a structured content shape.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxRawBodyResponse, Integer, Hash)>] MailboxRawBodyResponse data, response status code and response headers
    def mailbox_list_body_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_list_body ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailboxAPIApi.mailbox_list_body"
      end
      allowable_values = ["text", "html", "both", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'part'] && !allowable_values.include?(opts[:'part'])
        fail ArgumentError, "invalid value for \"part\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] > 1000000
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_list_body, must be smaller than or equal to 1000000.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_list_body, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/messages/{message_id}/body'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'part'] = opts[:'part'] if !opts[:'part'].nil?
      query_params[:'max_body_chars'] = opts[:'max_body_chars'] if !opts[:'max_body_chars'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxRawBodyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_list_body",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_list_body\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get clean message content
    # Returns deterministic clean JSON content for one message. Attachment output is metadata only; attachment contents are not parsed by this endpoint.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [Boolean] :strip_signature
    # @option opts [Boolean] :strip_quotes
    # @option opts [Boolean] :include_links
    # @option opts [Boolean] :include_html
    # @option opts [String] :include_headers
    # @option opts [String] :include_attachments
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMessageContentResponse]
    def mailbox_list_content(message_id, opts = {})
      data, _status_code, _headers = mailbox_list_content_with_http_info(message_id, opts)
      data
    end

    # Get clean message content
    # Returns deterministic clean JSON content for one message. Attachment output is metadata only; attachment contents are not parsed by this endpoint.
    # @param message_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :part
    # @option opts [Integer] :max_body_chars
    # @option opts [Boolean] :strip_signature
    # @option opts [Boolean] :strip_quotes
    # @option opts [Boolean] :include_links
    # @option opts [Boolean] :include_html
    # @option opts [String] :include_headers
    # @option opts [String] :include_attachments
    # @option opts [String] :if_none_match
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxMessageContentResponse, Integer, Hash)>] MailboxMessageContentResponse data, response status code and response headers
    def mailbox_list_content_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_list_content ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailboxAPIApi.mailbox_list_content"
      end
      allowable_values = ["auto", "text", "html", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'part'] && !allowable_values.include?(opts[:'part'])
        fail ArgumentError, "invalid value for \"part\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] > 1000000
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_list_content, must be smaller than or equal to 1000000.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_body_chars'].nil? && opts[:'max_body_chars'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_body_chars"]" when calling MailboxAPIApi.mailbox_list_content, must be greater than or equal to 1.'
      end

      allowable_values = ["none", "selected", "full", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'include_headers'] && !allowable_values.include?(opts[:'include_headers'])
        fail ArgumentError, "invalid value for \"include_headers\", must be one of #{allowable_values}"
      end
      allowable_values = ["none", "metadata", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'include_attachments'] && !allowable_values.include?(opts[:'include_attachments'])
        fail ArgumentError, "invalid value for \"include_attachments\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/mailbox/messages/{message_id}/content'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'part'] = opts[:'part'] if !opts[:'part'].nil?
      query_params[:'max_body_chars'] = opts[:'max_body_chars'] if !opts[:'max_body_chars'].nil?
      query_params[:'strip_signature'] = opts[:'strip_signature'] if !opts[:'strip_signature'].nil?
      query_params[:'strip_quotes'] = opts[:'strip_quotes'] if !opts[:'strip_quotes'].nil?
      query_params[:'include_links'] = opts[:'include_links'] if !opts[:'include_links'].nil?
      query_params[:'include_html'] = opts[:'include_html'] if !opts[:'include_html'].nil?
      query_params[:'include_headers'] = opts[:'include_headers'] if !opts[:'include_headers'].nil?
      query_params[:'include_attachments'] = opts[:'include_attachments'] if !opts[:'include_attachments'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxMessageContentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_list_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_list_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List mailbox folders
    # Returns a cursor-paginated list of folders for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxFolderCursorListResponse]
    def mailbox_list_folders(opts = {})
      data, _status_code, _headers = mailbox_list_folders_with_http_info(opts)
      data
    end

    # List mailbox folders
    # Returns a cursor-paginated list of folders for the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxFolderCursorListResponse, Integer, Hash)>] MailboxFolderCursorListResponse data, response status code and response headers
    def mailbox_list_folders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_list_folders ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_folders, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_folders, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/folders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxFolderCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_list_folders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_list_folders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List granted mailboxes
    # Lists the mailboxes available to the current mailbox credential or connected app. Use this before choosing a `mailbox_id` for mailbox actions when more than one mailbox is available.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :q
    # @return [GrantedMailboxListResponse]
    def mailbox_list_granted_mailboxes(opts = {})
      data, _status_code, _headers = mailbox_list_granted_mailboxes_with_http_info(opts)
      data
    end

    # List granted mailboxes
    # Lists the mailboxes available to the current mailbox credential or connected app. Use this before choosing a &#x60;mailbox_id&#x60; for mailbox actions when more than one mailbox is available.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :q
    # @return [Array<(GrantedMailboxListResponse, Integer, Hash)>] GrantedMailboxListResponse data, response status code and response headers
    def mailbox_list_granted_mailboxes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_list_granted_mailboxes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_granted_mailboxes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_granted_mailboxes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GrantedMailboxListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_list_granted_mailboxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_list_granted_mailboxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List mailbox sender identities
    # Returns sender identities available to the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxIdentityCursorListResponse]
    def mailbox_list_identities(opts = {})
      data, _status_code, _headers = mailbox_list_identities_with_http_info(opts)
      data
    end

    # List mailbox sender identities
    # Returns sender identities available to the authenticated mailbox.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [Array<(MailboxIdentityCursorListResponse, Integer, Hash)>] MailboxIdentityCursorListResponse data, response status code and response headers
    def mailbox_list_identities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxAPIApi.mailbox_list_identities ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_identities, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxAPIApi.mailbox_list_identities, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/mailbox/identities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxIdentityCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxAPIApi.mailbox_list_identities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxAPIApi#mailbox_list_identities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List mailbox messages
    # Returns a cursor-paginated list of messages for the authenticated mailbox. Requires a mailbox API key.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :folder_id
    # @option opts [String] :thread_id
    # @option opts [String] :q
    # @option opts [String] :from
    # @option opts [String] :to
    # @option opts [String] :cc
    # @option opts [String] :bcc
    # @option opts [String] :subject
    # @option opts [String] :body
    # @option opts [String] :header_name
    # @option opts [String] :header_value
    # @option opts [Integer] :min_size_bytes
    # @option opts [Integer] :max_size_bytes
    # @option opts [String] :keyword
    # @option opts [String] :not_keyword
    # @option opts [String] :after
    # @option opts [String] :before
    # @option opts [Boolean] :has_attachment
    # @option opts [Boolean] :is_unread
    # @option opts [String] :sort_by
    # @option opts [String] :sort_direction
    # @option opts [String] :mailbox_id Mailbox public ID to target when the credential grants access to more than one mailbox. Omit when the credential is scoped to exactly one mailbox.
    # @return [MailboxMessageSummaryCursorListResponse]
    def mailbox_list_messages(opts = {})
      data, _status_code, _headers = mailbox_list_messages_with_http_info(opts)
      data
    end

    # List mailbox messages
    # Returns a cursor-paginated list of messages for the authenticated mailbox. Requires a mailbox API key.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :folder_id
    # @option opts [String] :thread_id
    # @option opts [String] :q
    # @option opts [String] :from
    # @option opts [String] :to
    # @option opts [String] :cc
    # @option opts [String] :bcc
    # @option opts [String] :subject
    # @option opts [String] :body
    # @option opts [String] :header_name
    # @option opts [String] :header_value
    # @option opts [Integer] :min_size_bytes
[...]
