=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get spend summary
    # Returns a spend summary over a configurable lookback period.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :days
    # @return [SpendSummaryResponse]
    def management_get_spend_summary(opts = {})
      data, _status_code, _headers = management_get_spend_summary_with_http_info(opts)
      data
    end

    # Get spend summary
    # Returns a spend summary over a configurable lookback period.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :days
    # @return [Array<(SpendSummaryResponse, Integer, Hash)>] SpendSummaryResponse data, response status code and response headers
    def management_get_spend_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.management_get_spend_summary ...'
      end
      allowable_values = ["7", "30", "90", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'days'] && !allowable_values.include?(opts[:'days'])
        fail ArgumentError, "invalid value for \"days\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/billing/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SpendSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.management_get_spend_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#management_get_spend_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current balance
    # Returns the current team balance and auto top-up configuration.
    # @param [Hash] opts the optional parameters
    # @return [BalanceResponse]
    def management_list_balance(opts = {})
      data, _status_code, _headers = management_list_balance_with_http_info(opts)
      data
    end

    # Get current balance
    # Returns the current team balance and auto top-up configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BalanceResponse, Integer, Hash)>] BalanceResponse data, response status code and response headers
    def management_list_balance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.management_list_balance ...'
      end
      # resource path
      local_var_path = '/billing/balance'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.management_list_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#management_list_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List transactions
    # Returns paginated credit transaction history with optional type filter. Uses cursor-based pagination ordered by created_at descending — pass `cursor=<next_cursor>` from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :type
    # @return [TransactionCursorListResponse]
    def management_list_transactions(opts = {})
      data, _status_code, _headers = management_list_transactions_with_http_info(opts)
      data
    end

    # List transactions
    # Returns paginated credit transaction history with optional type filter. Uses cursor-based pagination ordered by created_at descending — pass &#x60;cursor&#x3D;&lt;next_cursor&gt;&#x60; from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :type
    # @return [Array<(TransactionCursorListResponse, Integer, Hash)>] TransactionCursorListResponse data, response status code and response headers
    def management_list_transactions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.management_list_transactions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BillingApi.management_list_transactions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BillingApi.management_list_transactions, must be greater than or equal to 1.'
      end

      allowable_values = ["PURCHASE", "USAGE", "AUTO_TOPUP", "REFUND", "ADJUSTMENT", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/billing/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.management_list_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#management_list_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
