=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class EmailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get delivery log
    # Returns a single delivery log by its public ID. Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the log has not changed. Logs in a terminal status (sent/failed/rejected) stop changing, so 304 replay is a real bandwidth win on repeated polls.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [DeliveryLogItemResponse]
    def management_get_email_log(public_id, opts = {})
      data, _status_code, _headers = management_get_email_log_with_http_info(public_id, opts)
      data
    end

    # Get delivery log
    # Returns a single delivery log by its public ID. Responses carry a weak &#x60;ETag&#x60; header — send it back as &#x60;If-None-Match&#x60; on the next request and the server will return &#x60;304 Not Modified&#x60; (no body) when the log has not changed. Logs in a terminal status (sent/failed/rejected) stop changing, so 304 replay is a real bandwidth win on repeated polls.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [Array<(DeliveryLogItemResponse, Integer, Hash)>] DeliveryLogItemResponse data, response status code and response headers
    def management_get_email_log_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.management_get_email_log ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling EmailsApi.management_get_email_log"
      end
      # resource path
      local_var_path = '/emails/logs/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryLogItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.management_get_email_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#management_get_email_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email metrics
    # Returns aggregated email delivery counts with flexible time windowing and comparison period.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :window
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :granularity
    # @option opts [String] :provider_id
    # @return [EmailMetricsResponse]
    def management_get_email_metrics(opts = {})
      data, _status_code, _headers = management_get_email_metrics_with_http_info(opts)
      data
    end

    # Get email metrics
    # Returns aggregated email delivery counts with flexible time windowing and comparison period.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :window
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :granularity
    # @option opts [String] :provider_id
    # @return [Array<(EmailMetricsResponse, Integer, Hash)>] EmailMetricsResponse data, response status code and response headers
    def management_get_email_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.management_get_email_metrics ...'
      end
      allowable_values = ["24h", "7d", "30d", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'window'] && !allowable_values.include?(opts[:'window'])
        fail ArgumentError, "invalid value for \"window\", must be one of #{allowable_values}"
      end
      allowable_values = ["hourly", "daily", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails/metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'window'] = opts[:'window'] if !opts[:'window'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?
      query_params[:'provider_id'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailMetricsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.management_get_email_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#management_get_email_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List delivery logs
    # Returns paginated delivery logs with cursor-based pagination and filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [String] :cursor
    # @option opts [String] :status
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :provider_id
    # @option opts [String] :search
    # @return [DeliveryLogItemCursorListResponse]
    def management_list_email_logs(opts = {})
      data, _status_code, _headers = management_list_email_logs_with_http_info(opts)
      data
    end

    # List delivery logs
    # Returns paginated delivery logs with cursor-based pagination and filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [String] :cursor
    # @option opts [String] :status
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :provider_id
    # @option opts [String] :search
    # @return [Array<(DeliveryLogItemCursorListResponse, Integer, Hash)>] DeliveryLogItemCursorListResponse data, response status code and response headers
    def management_list_email_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.management_list_email_logs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.management_list_email_logs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.management_list_email_logs, must be greater than or equal to 1.'
      end

      allowable_values = ["pending", "sent", "failed", "rejected", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails/logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'provider_id'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryLogItemCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailsApi.management_list_email_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#management_list_email_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
