=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class InboxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get incoming log
    # Returns one incoming message log by public ID.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [IncomingLogItemResponse]
    def management_get_inbox_log(public_id, opts = {})
      data, _status_code, _headers = management_get_inbox_log_with_http_info(public_id, opts)
      data
    end

    # Get incoming log
    # Returns one incoming message log by public ID.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncomingLogItemResponse, Integer, Hash)>] IncomingLogItemResponse data, response status code and response headers
    def management_get_inbox_log_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxesApi.management_get_inbox_log ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling InboxesApi.management_get_inbox_log"
      end
      # resource path
      local_var_path = '/inboxes/logs/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncomingLogItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxesApi.management_get_inbox_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxesApi#management_get_inbox_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List incoming logs
    # Returns paginated incoming message logs for billing accountability.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [String] :cursor
    # @option opts [String] :mailbox_id
    # @option opts [String] :event_type
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :search
    # @return [IncomingLogItemCursorListResponse]
    def management_list_inbox_logs(opts = {})
      data, _status_code, _headers = management_list_inbox_logs_with_http_info(opts)
      data
    end

    # List incoming logs
    # Returns paginated incoming message logs for billing accountability.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [String] :cursor
    # @option opts [String] :mailbox_id
    # @option opts [String] :event_type
    # @option opts [String] :from_date
    # @option opts [String] :to_date
    # @option opts [String] :search
    # @return [Array<(IncomingLogItemCursorListResponse, Integer, Hash)>] IncomingLogItemCursorListResponse data, response status code and response headers
    def management_list_inbox_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxesApi.management_list_inbox_logs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxesApi.management_list_inbox_logs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxesApi.management_list_inbox_logs, must be greater than or equal to 1.'
      end

      allowable_values = ["message.received", "message.received.spam", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'event_type'] && !allowable_values.include?(opts[:'event_type'])
        fail ArgumentError, "invalid value for \"event_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/inboxes/logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'mailbox_id'] = opts[:'mailbox_id'] if !opts[:'mailbox_id'].nil?
      query_params[:'event_type'] = opts[:'event_type'] if !opts[:'event_type'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncomingLogItemCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxesApi.management_list_inbox_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxesApi#management_list_inbox_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
