=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class MailboxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check mailbox address availability
    # Checks whether an email address can be reserved for mailbox creation. `@myagent.mx` availability is global across all teams; custom-domain availability is scoped to the caller's team and requires a verified send/receive mailbox domain.
    # @param email [String]
    # @param [Hash] opts the optional parameters
    # @return [MailboxAvailabilityResponse]
    def management_check_mailbox_availability(email, opts = {})
      data, _status_code, _headers = management_check_mailbox_availability_with_http_info(email, opts)
      data
    end

    # Check mailbox address availability
    # Checks whether an email address can be reserved for mailbox creation. &#x60;@myagent.mx&#x60; availability is global across all teams; custom-domain availability is scoped to the caller&#39;s team and requires a verified send/receive mailbox domain.
    # @param email [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailboxAvailabilityResponse, Integer, Hash)>] MailboxAvailabilityResponse data, response status code and response headers
    def management_check_mailbox_availability_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_check_mailbox_availability ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.management_check_mailbox_availability"
      end
      # resource path
      local_var_path = '/mailboxes/availability'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxAvailabilityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_check_mailbox_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_check_mailbox_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox
    # Provisions a new mailbox plus an initial bearer token and matching IMAP/SMTP mailbox password. The domain portion of the email must already be verified via POST /domains. If supplied, `quota_bytes` must be one of the current storage tiers: 1073741824 (1 GB), 5368709120 (5 GB), or 53687091200 (50 GB). Creation provisions resources on our mail platform and, for `@myagent.mx` addresses, on Amazon SES — any failure rolls the partial state back automatically.  Supply an `Idempotency-Key` header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return `409 idempotency_conflict`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ManagementCreateMailboxRequest] :management_create_mailbox_request
    # @return [MailboxCreateResultResponse]
    def management_create_mailbox(opts = {})
      data, _status_code, _headers = management_create_mailbox_with_http_info(opts)
      data
    end

    # Create a mailbox
    # Provisions a new mailbox plus an initial bearer token and matching IMAP/SMTP mailbox password. The domain portion of the email must already be verified via POST /domains. If supplied, &#x60;quota_bytes&#x60; must be one of the current storage tiers: 1073741824 (1 GB), 5368709120 (5 GB), or 53687091200 (50 GB). Creation provisions resources on our mail platform and, for &#x60;@myagent.mx&#x60; addresses, on Amazon SES — any failure rolls the partial state back automatically.  Supply an &#x60;Idempotency-Key&#x60; header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return &#x60;409 idempotency_conflict&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ManagementCreateMailboxRequest] :management_create_mailbox_request
    # @return [Array<(MailboxCreateResultResponse, Integer, Hash)>] MailboxCreateResultResponse data, response status code and response headers
    def management_create_mailbox_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_create_mailbox ...'
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling MailboxesApi.management_create_mailbox, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'management_create_mailbox_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxCreateResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_create_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_create_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox API key
    # Mints an additional bearer token plus IMAP/SMTP mailbox password for an existing mailbox. The plaintext key and password are shown exactly once — store them immediately.  Supply an `Idempotency-Key` header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return `409 idempotency_conflict`.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ManagementCreateMailboxKeyRequest] :management_create_mailbox_key_request
    # @return [MailboxAppPasswordResultResponse]
    def management_create_mailbox_key(public_id, opts = {})
      data, _status_code, _headers = management_create_mailbox_key_with_http_info(public_id, opts)
      data
    end

    # Create a mailbox API key
    # Mints an additional bearer token plus IMAP/SMTP mailbox password for an existing mailbox. The plaintext key and password are shown exactly once — store them immediately.  Supply an &#x60;Idempotency-Key&#x60; header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return &#x60;409 idempotency_conflict&#x60;.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ManagementCreateMailboxKeyRequest] :management_create_mailbox_key_request
    # @return [Array<(MailboxAppPasswordResultResponse, Integer, Hash)>] MailboxAppPasswordResultResponse data, response status code and response headers
    def management_create_mailbox_key_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_create_mailbox_key ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_create_mailbox_key"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling MailboxesApi.management_create_mailbox_key, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/mailboxes/{public_id}/keys'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'management_create_mailbox_key_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxAppPasswordResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_create_mailbox_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_create_mailbox_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a mailbox
    # Removes a mailbox from our mail platform, Amazon SES (for `@myagent.mx` addresses), and Sendmux. All associated API keys are revoked.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [MailboxDeletedResponse]
    def management_delete_mailbox(public_id, opts = {})
      data, _status_code, _headers = management_delete_mailbox_with_http_info(public_id, opts)
      data
    end

    # Delete a mailbox
    # Removes a mailbox from our mail platform, Amazon SES (for &#x60;@myagent.mx&#x60; addresses), and Sendmux. All associated API keys are revoked.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailboxDeletedResponse, Integer, Hash)>] MailboxDeletedResponse data, response status code and response headers
    def management_delete_mailbox_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_delete_mailbox ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_delete_mailbox"
      end
      # resource path
      local_var_path = '/mailboxes/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_delete_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_delete_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a mailbox API key
    # Revokes a specific bearer token + matching mailbox password. Idempotent on already-revoked keys.
    # @param public_id [String]
    # @param key_id [String]
    # @param [Hash] opts the optional parameters
    # @return [MailboxKeyDeletedResponse]
    def management_delete_mailbox_key(public_id, key_id, opts = {})
      data, _status_code, _headers = management_delete_mailbox_key_with_http_info(public_id, key_id, opts)
      data
    end

    # Revoke a mailbox API key
    # Revokes a specific bearer token + matching mailbox password. Idempotent on already-revoked keys.
    # @param public_id [String]
    # @param key_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailboxKeyDeletedResponse, Integer, Hash)>] MailboxKeyDeletedResponse data, response status code and response headers
    def management_delete_mailbox_key_with_http_info(public_id, key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_delete_mailbox_key ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_delete_mailbox_key"
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling MailboxesApi.management_delete_mailbox_key"
      end
      # resource path
      local_var_path = '/mailboxes/{public_id}/keys/{key_id}'.sub('{public_id}', CGI.escape(public_id.to_s)).sub('{key_id}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxKeyDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_delete_mailbox_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_delete_mailbox_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox
    # Returns a single mailbox, tenant-scoped to the caller's team. Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the resource has not changed. The same ETag is the value to use in `If-Match` on PATCH for optimistic concurrency.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [MailboxItemResponse]
    def management_get_mailbox(public_id, opts = {})
      data, _status_code, _headers = management_get_mailbox_with_http_info(public_id, opts)
      data
    end

    # Get a mailbox
    # Returns a single mailbox, tenant-scoped to the caller&#39;s team. Responses carry a weak &#x60;ETag&#x60; header — send it back as &#x60;If-None-Match&#x60; on the next request and the server will return &#x60;304 Not Modified&#x60; (no body) when the resource has not changed. The same ETag is the value to use in &#x60;If-Match&#x60; on PATCH for optimistic concurrency.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [Array<(MailboxItemResponse, Integer, Hash)>] MailboxItemResponse data, response status code and response headers
    def management_get_mailbox_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_get_mailbox ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_get_mailbox"
      end
      # resource path
      local_var_path = '/mailboxes/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_get_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_get_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List mailboxes
    # Returns a cursor-paginated list of mailboxes configured for the team, ordered by `created_at` descending. Pass `cursor=<next_cursor>` from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :include_deleted
    # @return [MailboxItemCursorListResponse]
    def management_list_mailboxes(opts = {})
      data, _status_code, _headers = management_list_mailboxes_with_http_info(opts)
      data
    end

    # List mailboxes
    # Returns a cursor-paginated list of mailboxes configured for the team, ordered by &#x60;created_at&#x60; descending. Pass &#x60;cursor&#x3D;&lt;next_cursor&gt;&#x60; from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :include_deleted
    # @return [Array<(MailboxItemCursorListResponse, Integer, Hash)>] MailboxItemCursorListResponse data, response status code and response headers
    def management_list_mailboxes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_list_mailboxes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxesApi.management_list_mailboxes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxesApi.management_list_mailboxes, must be greater than or equal to 1.'
      end

      allowable_values = ["true", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'include_deleted'] && !allowable_values.include?(opts[:'include_deleted'])
        fail ArgumentError, "invalid value for \"include_deleted\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'include_deleted'] = opts[:'include_deleted'] if !opts[:'include_deleted'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxItemCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_list_mailboxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_list_mailboxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume a mailbox
    # Restores a suspended mailbox so it can authenticate, receive mail, and send from the mailbox address again. The operation is idempotent and accepts `Idempotency-Key` for safe retries.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [MailboxItemResponse]
    def management_resume_mailbox(public_id, opts = {})
      data, _status_code, _headers = management_resume_mailbox_with_http_info(public_id, opts)
      data
    end

    # Resume a mailbox
    # Restores a suspended mailbox so it can authenticate, receive mail, and send from the mailbox address again. The operation is idempotent and accepts &#x60;Idempotency-Key&#x60; for safe retries.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(MailboxItemResponse, Integer, Hash)>] MailboxItemResponse data, response status code and response headers
    def management_resume_mailbox_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_resume_mailbox ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_resume_mailbox"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling MailboxesApi.management_resume_mailbox, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/mailboxes/{public_id}/resume'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_resume_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_resume_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend a mailbox
    # Suspends a mailbox without deleting messages, credentials, or settings. Suspended mailboxes cannot receive mail, authenticate to mailbox protocols, or send from the mailbox address. The operation is idempotent and accepts `Idempotency-Key` for safe retries.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [MailboxItemResponse]
    def management_suspend_mailbox(public_id, opts = {})
      data, _status_code, _headers = management_suspend_mailbox_with_http_info(public_id, opts)
      data
    end

    # Suspend a mailbox
    # Suspends a mailbox without deleting messages, credentials, or settings. Suspended mailboxes cannot receive mail, authenticate to mailbox protocols, or send from the mailbox address. The operation is idempotent and accepts &#x60;Idempotency-Key&#x60; for safe retries.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(MailboxItemResponse, Integer, Hash)>] MailboxItemResponse data, response status code and response headers
    def management_suspend_mailbox_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_suspend_mailbox ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_suspend_mailbox"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling MailboxesApi.management_suspend_mailbox, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/mailboxes/{public_id}/suspend'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_suspend_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_suspend_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a mailbox
    # Updates any combination of display_name, quota_bytes, and send_scope on a mailbox. The display_name and send_scope changes land in a single transaction; quota_bytes is applied afterwards because it also updates external state on our mail platform. Quota can only be set to 1073741824 (1 GB), 5368709120 (5 GB), or 53687091200 (50 GB), and cannot be shrunk below the mailbox's current usage.  For optimistic concurrency, send `If-Match: <etag>` using the ETag from a prior GET. A mismatched `If-Match` returns `409 conflict` (the server's ETag is echoed back so you can decide whether to re-fetch). Responses carry the new ETag so chained edits can pipeline without a re-GET.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [UpdateMailboxBody] :update_mailbox_body
    # @return [MailboxItemResponse]
    def management_update_mailbox(public_id, opts = {})
      data, _status_code, _headers = management_update_mailbox_with_http_info(public_id, opts)
      data
    end

    # Update a mailbox
    # Updates any combination of display_name, quota_bytes, and send_scope on a mailbox. The display_name and send_scope changes land in a single transaction; quota_bytes is applied afterwards because it also updates external state on our mail platform. Quota can only be set to 1073741824 (1 GB), 5368709120 (5 GB), or 53687091200 (50 GB), and cannot be shrunk below the mailbox&#39;s current usage.  For optimistic concurrency, send &#x60;If-Match: &lt;etag&gt;&#x60; using the ETag from a prior GET. A mismatched &#x60;If-Match&#x60; returns &#x60;409 conflict&#x60; (the server&#39;s ETag is echoed back so you can decide whether to re-fetch). Responses carry the new ETag so chained edits can pipeline without a re-GET.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [UpdateMailboxBody] :update_mailbox_body
    # @return [Array<(MailboxItemResponse, Integer, Hash)>] MailboxItemResponse data, response status code and response headers
    def management_update_mailbox_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.management_update_mailbox ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling MailboxesApi.management_update_mailbox"
      end
      # resource path
      local_var_path = '/mailboxes/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_mailbox_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.management_update_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#management_update_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
