=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class SendingAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate a sending account
    # Enables a sending account. OAuth accounts without an active connection are moved to pending until reconnected in the dashboard. The shared Amazon SES account can be activated.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [ProviderItemResponse]
    def management_activate_provider(public_id, opts = {})
      data, _status_code, _headers = management_activate_provider_with_http_info(public_id, opts)
      data
    end

    # Activate a sending account
    # Enables a sending account. OAuth accounts without an active connection are moved to pending until reconnected in the dashboard. The shared Amazon SES account can be activated.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(ProviderItemResponse, Integer, Hash)>] ProviderItemResponse data, response status code and response headers
    def management_activate_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_activate_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_activate_provider"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_activate_provider, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers/{public_id}/activate'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_activate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_activate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a shared Amazon SES daily limit request
    # Cancels a pending shared Amazon SES daily limit increase request for the caller's team. Approved or denied requests cannot be cancelled.
    # @param request_id [String]
    # @param [Hash] opts the optional parameters
    # @return [SharedAmazonSesLimitRequestCancelResponse]
    def management_cancel_shared_amazon_ses_limit_request(request_id, opts = {})
      data, _status_code, _headers = management_cancel_shared_amazon_ses_limit_request_with_http_info(request_id, opts)
      data
    end

    # Cancel a shared Amazon SES daily limit request
    # Cancels a pending shared Amazon SES daily limit increase request for the caller&#39;s team. Approved or denied requests cannot be cancelled.
    # @param request_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(SharedAmazonSesLimitRequestCancelResponse, Integer, Hash)>] SharedAmazonSesLimitRequestCancelResponse data, response status code and response headers
    def management_cancel_shared_amazon_ses_limit_request_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_cancel_shared_amazon_ses_limit_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling SendingAccountsApi.management_cancel_shared_amazon_ses_limit_request"
      end
      # resource path
      local_var_path = '/providers/shared-amazon-ses-limit-request/{request_id}'.sub('{request_id}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SharedAmazonSesLimitRequestCancelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_cancel_shared_amazon_ses_limit_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_cancel_shared_amazon_ses_limit_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an SMTP sending account
    # Creates a custom SMTP sending account. Supply an `Idempotency-Key` header to safely retry on network errors. The SMTP password is stored securely and is never returned.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ProviderCreateBody] :provider_create_body
    # @return [ProviderItemResponse]
    def management_create_provider(opts = {})
      data, _status_code, _headers = management_create_provider_with_http_info(opts)
      data
    end

    # Create an SMTP sending account
    # Creates a custom SMTP sending account. Supply an &#x60;Idempotency-Key&#x60; header to safely retry on network errors. The SMTP password is stored securely and is never returned.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [ProviderCreateBody] :provider_create_body
    # @return [Array<(ProviderItemResponse, Integer, Hash)>] ProviderItemResponse data, response status code and response headers
    def management_create_provider_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_create_provider ...'
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_create_provider, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'provider_create_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_create_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_create_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request a shared Amazon SES daily limit increase
    # Creates a review request for the shared Amazon SES daily sending limit. This does not modify the limit directly.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [SharedAmazonSesLimitRequestCreateResponse]
    def management_create_shared_amazon_ses_limit_request(opts = {})
      data, _status_code, _headers = management_create_shared_amazon_ses_limit_request_with_http_info(opts)
      data
    end

    # Request a shared Amazon SES daily limit increase
    # Creates a review request for the shared Amazon SES daily sending limit. This does not modify the limit directly.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(SharedAmazonSesLimitRequestCreateResponse, Integer, Hash)>] SharedAmazonSesLimitRequestCreateResponse data, response status code and response headers
    def management_create_shared_amazon_ses_limit_request_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_create_shared_amazon_ses_limit_request ...'
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_create_shared_amazon_ses_limit_request, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers/shared-amazon-ses-limit-request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SharedAmazonSesLimitRequestCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_create_shared_amazon_ses_limit_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_create_shared_amazon_ses_limit_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate a sending account
    # Disables a sending account. The shared Amazon SES account can be deactivated.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [ProviderItemResponse]
    def management_deactivate_provider(public_id, opts = {})
      data, _status_code, _headers = management_deactivate_provider_with_http_info(public_id, opts)
      data
    end

    # Deactivate a sending account
    # Disables a sending account. The shared Amazon SES account can be deactivated.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(ProviderItemResponse, Integer, Hash)>] ProviderItemResponse data, response status code and response headers
    def management_deactivate_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_deactivate_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_deactivate_provider"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_deactivate_provider, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers/{public_id}/deactivate'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_deactivate_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_deactivate_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a sending account
    # Deletes a custom or connected sending account. The shared Amazon SES account cannot be deleted.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [ProviderDeletedResponse]
    def management_delete_provider(public_id, opts = {})
      data, _status_code, _headers = management_delete_provider_with_http_info(public_id, opts)
      data
    end

    # Delete a sending account
    # Deletes a custom or connected sending account. The shared Amazon SES account cannot be deleted.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderDeletedResponse, Integer, Hash)>] ProviderDeletedResponse data, response status code and response headers
    def management_delete_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_delete_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_delete_provider"
      end
      # resource path
      local_var_path = '/providers/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_delete_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_delete_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sending account
    # Returns one sending account. Responses include an ETag for conditional GET and optimistic PATCH.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [ProviderItemResponse]
    def management_get_provider(public_id, opts = {})
      data, _status_code, _headers = management_get_provider_with_http_info(public_id, opts)
      data
    end

    # Get a sending account
    # Returns one sending account. Responses include an ETag for conditional GET and optimistic PATCH.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [Array<(ProviderItemResponse, Integer, Hash)>] ProviderItemResponse data, response status code and response headers
    def management_get_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_get_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_get_provider"
      end
      # resource path
      local_var_path = '/providers/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_get_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_get_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sending account limits
    # Returns custom-account capacity and shared Amazon SES daily sending limit state.
    # @param [Hash] opts the optional parameters
    # @return [ProviderLimitsResponse]
    def management_get_provider_limits(opts = {})
      data, _status_code, _headers = management_get_provider_limits_with_http_info(opts)
      data
    end

    # Get sending account limits
    # Returns custom-account capacity and shared Amazon SES daily sending limit state.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderLimitsResponse, Integer, Hash)>] ProviderLimitsResponse data, response status code and response headers
    def management_get_provider_limits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_get_provider_limits ...'
      end
      # resource path
      local_var_path = '/providers/limits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderLimitsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_get_provider_limits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_get_provider_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sending account statistics
    # Returns aggregate counts of configured sending accounts with breakdowns by type and status.
    # @param [Hash] opts the optional parameters
    # @return [ProviderStatsResponse]
    def management_get_provider_stats(opts = {})
      data, _status_code, _headers = management_get_provider_stats_with_http_info(opts)
      data
    end

    # Get sending account statistics
    # Returns aggregate counts of configured sending accounts with breakdowns by type and status.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderStatsResponse, Integer, Hash)>] ProviderStatsResponse data, response status code and response headers
    def management_get_provider_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_get_provider_stats ...'
      end
      # resource path
      local_var_path = '/providers/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_get_provider_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_get_provider_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sending account usage
    # Returns per-account delivery-log counts for today and the trailing 7-day window.
    # @param [Hash] opts the optional parameters
    # @return [ProviderUsageResponse]
    def management_get_provider_usage(opts = {})
      data, _status_code, _headers = management_get_provider_usage_with_http_info(opts)
      data
    end

    # Get sending account usage
    # Returns per-account delivery-log counts for today and the trailing 7-day window.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderUsageResponse, Integer, Hash)>] ProviderUsageResponse data, response status code and response headers
    def management_get_provider_usage_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_get_provider_usage ...'
      end
      # resource path
      local_var_path = '/providers/usage'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderUsageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_get_provider_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_get_provider_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shared Amazon SES limit request state
    # Returns the shared Amazon SES daily limit state and any pending increase request.
    # @param [Hash] opts the optional parameters
    # @return [SharedAmazonSesLimitRequestPageResponse]
    def management_get_shared_amazon_ses_limit_request(opts = {})
      data, _status_code, _headers = management_get_shared_amazon_ses_limit_request_with_http_info(opts)
      data
    end

    # Get shared Amazon SES limit request state
    # Returns the shared Amazon SES daily limit state and any pending increase request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SharedAmazonSesLimitRequestPageResponse, Integer, Hash)>] SharedAmazonSesLimitRequestPageResponse data, response status code and response headers
    def management_get_shared_amazon_ses_limit_request_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_get_shared_amazon_ses_limit_request ...'
      end
      # resource path
      local_var_path = '/providers/shared-amazon-ses-limit-request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SharedAmazonSesLimitRequestPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_get_shared_amazon_ses_limit_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_get_shared_amazon_ses_limit_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sending accounts
    # Returns a cursor-paginated list of sending accounts. Credentials are never returned. The shared Amazon SES account is included and marked with `is_shared: true`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [String] :status
    # @option opts [String] :type
    # @option opts [Integer] :limit
    # @return [ProviderItemCursorListResponse]
    def management_list_providers(opts = {})
      data, _status_code, _headers = management_list_providers_with_http_info(opts)
      data
    end

    # List sending accounts
    # Returns a cursor-paginated list of sending accounts. Credentials are never returned. The shared Amazon SES account is included and marked with &#x60;is_shared: true&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [String] :status
    # @option opts [String] :type
    # @option opts [Integer] :limit
    # @return [Array<(ProviderItemCursorListResponse, Integer, Hash)>] ProviderItemCursorListResponse data, response status code and response headers
    def management_list_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_list_providers ...'
      end
      allowable_values = ["active", "inactive", "error", "pending", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["smtp", "gmail_api", "outlook_api", "amazon_ses", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SendingAccountsApi.management_list_providers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SendingAccountsApi.management_list_providers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_list_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_list_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request a sending account limit increase
    # Creates a request to increase the number of custom or connected sending accounts allowed for the team.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [SendingAccountLimitRequestResponse]
    def management_request_sending_account_limit_increase(opts = {})
      data, _status_code, _headers = management_request_sending_account_limit_increase_with_http_info(opts)
      data
    end

    # Request a sending account limit increase
    # Creates a request to increase the number of custom or connected sending accounts allowed for the team.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(SendingAccountLimitRequestResponse, Integer, Hash)>] SendingAccountLimitRequestResponse data, response status code and response headers
    def management_request_sending_account_limit_increase_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_request_sending_account_limit_increase ...'
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_request_sending_account_limit_increase, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers/limits/sending-accounts/request-increase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendingAccountLimitRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_request_sending_account_limit_increase",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_request_sending_account_limit_increase\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an SMTP sending account
    # Runs a connection test for a custom SMTP account. The shared Amazon SES account and OAuth accounts cannot be tested through this endpoint.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [ProviderTestResultResponse]
    def management_test_provider(public_id, opts = {})
      data, _status_code, _headers = management_test_provider_with_http_info(public_id, opts)
      data
    end

    # Test an SMTP sending account
    # Runs a connection test for a custom SMTP account. The shared Amazon SES account and OAuth accounts cannot be tested through this endpoint.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(ProviderTestResultResponse, Integer, Hash)>] ProviderTestResultResponse data, response status code and response headers
    def management_test_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_test_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_test_provider"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SendingAccountsApi.management_test_provider, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/providers/{public_id}/test'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderTestResultResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_test_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_test_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a sending account
    # Updates a custom sending account. The shared Amazon SES account cannot be edited here; use activate/deactivate and the limit-request endpoint for the allowed shared-account actions.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [ProviderUpdateBody] :provider_update_body
    # @return [ProviderItemResponse]
    def management_update_provider(public_id, opts = {})
      data, _status_code, _headers = management_update_provider_with_http_info(public_id, opts)
      data
    end

    # Update a sending account
    # Updates a custom sending account. The shared Amazon SES account cannot be edited here; use activate/deactivate and the limit-request endpoint for the allowed shared-account actions.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [ProviderUpdateBody] :provider_update_body
    # @return [Array<(ProviderItemResponse, Integer, Hash)>] ProviderItemResponse data, response status code and response headers
    def management_update_provider_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingAccountsApi.management_update_provider ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling SendingAccountsApi.management_update_provider"
      end
      # resource path
      local_var_path = '/providers/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'provider_update_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendingAccountsApi.management_update_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAccountsApi#management_update_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
