=begin
#Sendmux API

#Programmatic access to your Sendmux email infrastructure.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Sendmux::Management::Generated
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a webhook subscription
    # Creates a new webhook subscription and returns the signing secret ONCE in the response body. Store it securely — it cannot be retrieved later. Use `POST /webhooks/{id}/rotate-secret` to issue a new one.  Supply an `Idempotency-Key` header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return `409 idempotency_conflict`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [WebhookCreateBody] :webhook_create_body
    # @return [WebhookSubscriptionWithSecretResponse]
    def management_create_webhook(opts = {})
      data, _status_code, _headers = management_create_webhook_with_http_info(opts)
      data
    end

    # Create a webhook subscription
    # Creates a new webhook subscription and returns the signing secret ONCE in the response body. Store it securely — it cannot be retrieved later. Use &#x60;POST /webhooks/{id}/rotate-secret&#x60; to issue a new one.  Supply an &#x60;Idempotency-Key&#x60; header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return &#x60;409 idempotency_conflict&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @option opts [WebhookCreateBody] :webhook_create_body
    # @return [Array<(WebhookSubscriptionWithSecretResponse, Integer, Hash)>] WebhookSubscriptionWithSecretResponse data, response status code and response headers
    def management_create_webhook_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_create_webhook ...'
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling WebhooksApi.management_create_webhook, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'webhook_create_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionWithSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_create_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_create_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook subscription
    # Permanently removes the subscription. In-flight retries are dropped.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeletedResponse]
    def management_delete_webhook(public_id, opts = {})
      data, _status_code, _headers = management_delete_webhook_with_http_info(public_id, opts)
      data
    end

    # Delete a webhook subscription
    # Permanently removes the subscription. In-flight retries are dropped.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeletedResponse, Integer, Hash)>] WebhookDeletedResponse data, response status code and response headers
    def management_delete_webhook_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_delete_webhook ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_delete_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeletedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_delete_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_delete_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook delivery payload
    # Returns the retained JSON request body for one delivery attempt. Payloads are retained for 7 days and may no longer be available after `payload_expires_at`.
    # @param public_id [String]
    # @param delivery_id [String]
    # @param [Hash] opts the optional parameters
    # @return [WebhookDeliveryPayloadResponse]
    def management_get_delivery_payload(public_id, delivery_id, opts = {})
      data, _status_code, _headers = management_get_delivery_payload_with_http_info(public_id, delivery_id, opts)
      data
    end

    # Get a webhook delivery payload
    # Returns the retained JSON request body for one delivery attempt. Payloads are retained for 7 days and may no longer be available after &#x60;payload_expires_at&#x60;.
    # @param public_id [String]
    # @param delivery_id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookDeliveryPayloadResponse, Integer, Hash)>] WebhookDeliveryPayloadResponse data, response status code and response headers
    def management_get_delivery_payload_with_http_info(public_id, delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_get_delivery_payload ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_get_delivery_payload"
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling WebhooksApi.management_get_delivery_payload"
      end
      # resource path
      local_var_path = '/webhooks/{public_id}/deliveries/{delivery_id}/payload'.sub('{public_id}', CGI.escape(public_id.to_s)).sub('{delivery_id}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryPayloadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_get_delivery_payload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_get_delivery_payload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook subscription
    # Returns a single webhook subscription. The signing secret is never included. Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the resource has not changed. The same ETag is the value to use in `If-Match` on PATCH for optimistic concurrency.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [WebhookSubscriptionResponse]
    def management_get_webhook(public_id, opts = {})
      data, _status_code, _headers = management_get_webhook_with_http_info(public_id, opts)
      data
    end

    # Get a webhook subscription
    # Returns a single webhook subscription. The signing secret is never included. Responses carry a weak &#x60;ETag&#x60; header — send it back as &#x60;If-None-Match&#x60; on the next request and the server will return &#x60;304 Not Modified&#x60; (no body) when the resource has not changed. The same ETag is the value to use in &#x60;If-Match&#x60; on PATCH for optimistic concurrency.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_none_match
    # @return [Array<(WebhookSubscriptionResponse, Integer, Hash)>] WebhookSubscriptionResponse data, response status code and response headers
    def management_get_webhook_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_get_webhook ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_get_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_get_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_get_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook delivery attempts
    # Returns recent delivery attempts for one webhook subscription, ordered by `created_at` descending. Delivery metadata is retained for 7 days. Use the payload endpoint while `payload_available` is true to inspect the exact JSON request body that was delivered.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :event_type
    # @option opts [String] :result
    # @return [WebhookDeliveryAttemptCursorListResponse]
    def management_list_delivery(public_id, opts = {})
      data, _status_code, _headers = management_list_delivery_with_http_info(public_id, opts)
      data
    end

    # List webhook delivery attempts
    # Returns recent delivery attempts for one webhook subscription, ordered by &#x60;created_at&#x60; descending. Delivery metadata is retained for 7 days. Use the payload endpoint while &#x60;payload_available&#x60; is true to inspect the exact JSON request body that was delivered.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @option opts [String] :event_type
    # @option opts [String] :result
    # @return [Array<(WebhookDeliveryAttemptCursorListResponse, Integer, Hash)>] WebhookDeliveryAttemptCursorListResponse data, response status code and response headers
    def management_list_delivery_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_list_delivery ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_list_delivery"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.management_list_delivery, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.management_list_delivery, must be greater than or equal to 1.'
      end

      allowable_values = ["message.delivered", "message.bounced", "message.complained", "message.rejected", "message.delivery_delayed", "message.received", "message.received.spam", "sendmux.test", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'event_type'] && !allowable_values.include?(opts[:'event_type'])
        fail ArgumentError, "invalid value for \"event_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["success", "retrying", "failed", "permanent_failure", "unknown_default_open_api"]
      if @api_client.config.client_side_validation && opts[:'result'] && !allowable_values.include?(opts[:'result'])
        fail ArgumentError, "invalid value for \"result\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/webhooks/{public_id}/deliveries'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'event_type'] = opts[:'event_type'] if !opts[:'event_type'].nil?
      query_params[:'result'] = opts[:'result'] if !opts[:'result'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookDeliveryAttemptCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_list_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_list_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook subscriptions
    # Returns a cursor-paginated list of webhook subscriptions configured for the team, ordered by `created_at` descending. The signing secret is never included. Pass `cursor=<next_cursor>` from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @return [WebhookSubscriptionCursorListResponse]
    def management_list_webhooks(opts = {})
      data, _status_code, _headers = management_list_webhooks_with_http_info(opts)
      data
    end

    # List webhook subscriptions
    # Returns a cursor-paginated list of webhook subscriptions configured for the team, ordered by &#x60;created_at&#x60; descending. The signing secret is never included. Pass &#x60;cursor&#x3D;&lt;next_cursor&gt;&#x60; from the previous response to fetch the next page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor
    # @option opts [Integer] :limit
    # @return [Array<(WebhookSubscriptionCursorListResponse, Integer, Hash)>] WebhookSubscriptionCursorListResponse data, response status code and response headers
    def management_list_webhooks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_list_webhooks ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.management_list_webhooks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.management_list_webhooks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionCursorListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate the signing secret
    # Generates a fresh signing secret and returns it ONCE. The old secret is immediately invalidated — the next event delivery is signed with the new secret. Store the new value securely; it cannot be retrieved later.  Supply an `Idempotency-Key` header to safely retry on network errors — replays under the same key return the original rotation response rather than minting a fresh secret. Replays against a different `public_id` under the same key return `409 idempotency_conflict`.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [WebhookSubscriptionWithSecretResponse]
    def management_rotate_webhook_secret(public_id, opts = {})
      data, _status_code, _headers = management_rotate_webhook_secret_with_http_info(public_id, opts)
      data
    end

    # Rotate the signing secret
    # Generates a fresh signing secret and returns it ONCE. The old secret is immediately invalidated — the next event delivery is signed with the new secret. Store the new value securely; it cannot be retrieved later.  Supply an &#x60;Idempotency-Key&#x60; header to safely retry on network errors — replays under the same key return the original rotation response rather than minting a fresh secret. Replays against a different &#x60;public_id&#x60; under the same key return &#x60;409 idempotency_conflict&#x60;.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(WebhookSubscriptionWithSecretResponse, Integer, Hash)>] WebhookSubscriptionWithSecretResponse data, response status code and response headers
    def management_rotate_webhook_secret_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_rotate_webhook_secret ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_rotate_webhook_secret"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling WebhooksApi.management_rotate_webhook_secret, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/webhooks/{public_id}/rotate-secret'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionWithSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_rotate_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_rotate_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a synthetic test event
    # Publishes a synthetic `sendmux.test` event to this webhook subscription. The subscription must include `\"sendmux.test\"` in `event_types`, and mailbox filters do not block the test delivery. Returns the generated `event_id` so you can correlate the `X-Sendmux-Event-Id` header on your endpoint.  Supply an `Idempotency-Key` header to safely retry on network errors — replays under the same key return the original `event_id` rather than publishing a second test event.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [ManagementTestWebhook200Response]
    def management_test_webhook(public_id, opts = {})
      data, _status_code, _headers = management_test_webhook_with_http_info(public_id, opts)
      data
    end

    # Send a synthetic test event
    # Publishes a synthetic &#x60;sendmux.test&#x60; event to this webhook subscription. The subscription must include &#x60;\&quot;sendmux.test\&quot;&#x60; in &#x60;event_types&#x60;, and mailbox filters do not block the test delivery. Returns the generated &#x60;event_id&#x60; so you can correlate the &#x60;X-Sendmux-Event-Id&#x60; header on your endpoint.  Supply an &#x60;Idempotency-Key&#x60; header to safely retry on network errors — replays under the same key return the original &#x60;event_id&#x60; rather than publishing a second test event.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key
    # @return [Array<(ManagementTestWebhook200Response, Integer, Hash)>] ManagementTestWebhook200Response data, response status code and response headers
    def management_test_webhook_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_test_webhook ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_test_webhook"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling WebhooksApi.management_test_webhook, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/webhooks/{public_id}/test'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagementTestWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_test_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_test_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook subscription
    # Updates the URL, event types, or enabled flag. Any field omitted from the request body is left unchanged. The signing secret is unaffected — use `POST /webhooks/{id}/rotate-secret` to rotate it.  For optimistic concurrency, send `If-Match: <etag>` using the ETag from a prior GET. A mismatched `If-Match` returns `409 conflict` (the server's ETag is echoed back so you can decide whether to re-fetch). Responses carry the new ETag so chained edits can pipeline without a re-GET.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [WebhookUpdateBody] :webhook_update_body
    # @return [WebhookSubscriptionResponse]
    def management_update_webhook(public_id, opts = {})
      data, _status_code, _headers = management_update_webhook_with_http_info(public_id, opts)
      data
    end

    # Update a webhook subscription
    # Updates the URL, event types, or enabled flag. Any field omitted from the request body is left unchanged. The signing secret is unaffected — use &#x60;POST /webhooks/{id}/rotate-secret&#x60; to rotate it.  For optimistic concurrency, send &#x60;If-Match: &lt;etag&gt;&#x60; using the ETag from a prior GET. A mismatched &#x60;If-Match&#x60; returns &#x60;409 conflict&#x60; (the server&#39;s ETag is echoed back so you can decide whether to re-fetch). Responses carry the new ETag so chained edits can pipeline without a re-GET.
    # @param public_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match
    # @option opts [WebhookUpdateBody] :webhook_update_body
    # @return [Array<(WebhookSubscriptionResponse, Integer, Hash)>] WebhookSubscriptionResponse data, response status code and response headers
    def management_update_webhook_with_http_info(public_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.management_update_webhook ...'
      end
      # verify the required parameter 'public_id' is set
      if @api_client.config.client_side_validation && public_id.nil?
        fail ArgumentError, "Missing the required parameter 'public_id' when calling WebhooksApi.management_update_webhook"
      end
      # resource path
      local_var_path = '/webhooks/{public_id}'.sub('{public_id}', CGI.escape(public_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'webhook_update_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookSubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.management_update_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#management_update_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
